.wrapper {
    margin: 0;
    padding: 0;
    margin: auto;
}

.header .back{

    width: 1900px;
    height: 720px;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.h1 {
    text-align: center;
    font-size: 64px
}

.text1 {
    font-size: 16px;
    text-align: justify;
}

.content {
    width: 650px;
    margin: auto;
}