/* @font-face {
    font-family: ConcertOne-Regular;
    src: url('/fonts/ConcertOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

body {
    font-family: MKMEGADRIVE-Medium;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background: rgb(19, 28, 41);
}

#logo {
    width: 160.07px;
    height: 85px;
}

#sc_name {
    width: 400px;
    height: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    margin-top: 25px;
}

.navbar {
    width: 1950px;
    height: 170px;
}

.navbar-logo li {
    width: 170px;
    height: 50px;
    float: left;
    list-style: none;
}

.navbar-menu {
    margin-left: 1600px;
    padding-top: 25px;
}

.navbar-menu li,
.navbar-menu li a {
    color: #FFFFFF;
    font-size: 25px;
    height: 50px;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 5px;
}

.navbar-menu li a:hover {
    color: aqua;
}

.content {
    height: 790px;
    text-align: center;
}

.content h1 {
    margin-top: 50px;
}

.footer {
    height: 50px;
    text-align: center;
}

.github {
    width: 25px;
    height: 25px;
}